/* Section margins */
main > section {
	margin: 60px 0;
}

@media only screen and (min-width: 992px) {
	main > section {
		margin: 140px 0;
	}
}

nav {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

nav a {
	width: 40%;
}

nav img {
	width: 100%;
}

header.main-header {
	padding: 30px 25px;
	background-image: url("./images/hero-image.jpg");
	background-size: 265%;
	background-position: 46% -62%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-heading {
	font-family: var(--main-font), sans-serif;
	color: var(--main-color);
	margin-bottom: 240px;
	font-size: 37px;
	font-weight: normal;
	height: 550px;
}

.nav-logos {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 992px) {
	.nav-logos {
		margin: 0 70px;
	}
	.hero-heading {
		font-size: 120px;
		line-height: 140px;
		margin-bottom: 0px;
	}
	nav {
		align-self: center;
	}
	nav a {
		width: auto;
		height: 50px;
	}
	nav img {
		width: auto;
		height: 50px;
	}
	header.main-header {
		background-position: 50% 13%;
		background-size: 100%;
		height: 80vh;
		align-items: flex-start;
		padding: 50px 165px;
	}
}

.blue-text {
	color: var(--accent-text);
}

.about h1 {
	text-align: center;
}

.about .section-image {
	border-bottom-left-radius: 125px;
	border-top-right-radius: 125px;
	border-top-left-radius: 125px;
	margin: 30px 0;
}

.logos {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.logos img {
	height: 66px;
}

.logos .pickwick {
	object-fit: contain;
	width: 42%;
}

.logos .pickwick img {
	object-fit: contain;
	width: 100%;
}

.apersand {
	font-family: var(--handwritten-font);
	font-size: 45px;
	margin: 0 15px;
}
.about .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about .content p {
	margin-bottom: 25px;
}

.recipes-button {
	width: 100%;
}

@media only screen and (min-width: 992px) {
	.about .section-image {
		width: 50%;
	}
	.about .main {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}
	.about .content {
		align-items: flex-start;
	}
	.about .content p {
		font-size: 24px;
	}
	.about .info {
		max-width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.recipes-button {
		align-self: flex-start;
	}
}

.recipes {
	position: relative;
}
.recipes h1 {
	text-align: center;
	margin: 30px 0;
}
.recipes .section-image {
	border-bottom-left-radius: 85px;
	border-top-right-radius: 85px;
	border-top-left-radius: 85px;
	margin-bottom: 15px;
}

.recipe {
	position: relative;
}

.recipe-text {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 36%;
	padding: 0 40px;
}

.recipe-text h2 {
	list-style: disc;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 20px;
}

.recipe-text ul {
	color: var(--off-text);
	list-style: disc;
	font-size: 14px;
	width: 87%;
	margin-left: auto;
}

@media only screen and (min-width: 992px) {
	.recipes h1 {
		margin: 60px 0;
	}
	.recipes-content {
		display: flex;
		margin: -20px;
	}
	.recipe.featured {
		margin: 20px;
		width: 61%;
	}
	.secondary-recipes {
		margin: 20px;
		width: 39%;
		display: flex;
		flex-direction: column;
	}
	.secondary-recipes .recipe-text {
		top: 17%;
	}
	.recipe.featured .recipe-text {
		top: 56%;
		padding: 0 88px;
	}
	.recipe-text h2 {
		margin-bottom: 90px;
		font-size: 38px;
	}
}

.dots {
	text-align: center;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: var(--main-light);
	border: 1px solid var(--main-color);
	border-radius: 50%;
	display: inline-block;
	margin-left: 4px;
}

.dot.active {
	background-color: var(--main-color);
	border: 1px solid var(--main-light);
}

.deal {
	position: relative;
	margin-bottom: 100px;
	background-color: var(--main-light);
	color: var(--main-color);
	padding: 80px 0px;
}
.wave {
	position: absolute;
}
.top-wave {
	transform: rotate(180deg);
	top: -1px;
}
.bottom-wave {
	bottom: -1px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content h1 {
	text-align: center;
	font-family: var(--headings-font);
	font-size: 40px;
	margin-bottom: 25px;
}
.content button {
	width: 100%;
}
.deal-contents {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.content-text {
	font-size: 24px;
}

.plus {
	font-size: 75px;
	text-align: center;
}

.smirnoff-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 40px;
}

.pickwick-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 40px;
}

.text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.deal-text {
	font-size: 24px;
	margin: 25px 0;
}
.text-content > * {
	margin: 15px 0;
}
.expires-text {
	font-size: 40px;
}
.time-text {
	font-size: 80px;
	font-weight: bold;
}
.snowflake {
	display: none;
}

@media only screen and (min-width: 992px) {
	.snowflake {
		position: absolute;
		display: block;
	}
	.big {
		width: 150px;
		height: 150px;
		top: 27%;
		left: 79%;
	}
	.medium {
		width: 110px;
		height: 110px;
		top: 56%;
		left: 14%;
	}
	.medium-2 {
		width: 110px;
		height: 110px;
		top: 50%;
		left: 74%;
	}
	.small {
		width: 60px;
		height: 60px;
		top: 24%;
		left: 16%;
	}
	.very-small {
		width: 20px;
		height: 20px;
		top: 80%;
		left: 80%;
	}
	.text-content p:first-child {
		font-size: 40px;
	}
	.expires-text {
		font-size: 65px;
	}
	.time-text {
		font-size: 188px;
	}
	.deal .content {
		padding: 320px 165px;
	}
	.deal .content h1 {
		font-size: 65px;
		margin-bottom: 80px;
	}
	.flex {
		display: flex;
	}
	.deal-contents {
		position: absolute;
		top: 33%;
		left: 12%;
		width: 23%;
	}
	.smirnoff-box img {
		width: 50%;
	}
	.pickwick-box img {
		width: 50%;
		position: relative;
		left: 68px;
	}
	.text-btn {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 450px;
		margin-bottom: 80px;
	}
}

footer {
	background-color: var(--main-color);
	color: var(--main-light);
	font-size: 21px;
	display: flex;
	flex-direction: column;
}

footer > * {
	margin: 20px 0;
	align-items: center;
	justify-content: center;
}

footer p {
	font-size: 16px;
}

footer a {
	color: var(--main-light);
}

footer .logo {
	width: 100%;
}

footer .social-media {
	width: 200px;
	margin: 20px auto;
}

footer .copyright {
	text-align: center;
}

footer .social-media img {
	width: 30%;
}

footer .sources {
	color: var(--off-text);
	text-align: center;
}

@media only screen and (min-width: 992px) {
	footer {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	footer > * {
		margin: 0 40px;
		align-items: center;
		justify-content: center;
	}

	footer .sources {
		font-size: 18px;
		display: flex;
	}
	footer .sources > * {
		margin: 0 10px;
	}
}
